@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    height: auto;
    background: url('../assets/contact\ us.webp') no-repeat center center / cover;
    position: relative;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 75px;
    width: 100%;
    overflow-x: hidden;
  }
  
  .contact-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6); /* Adjust the opacity and color for the overlay */
    z-index: 1;
  }
  
  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    color: white;
    flex-wrap: wrap;
    gap: 2.5rem;
    position: relative; /* Ensure content is above the overlay */
    z-index: 2;
  }
  
  /* Text Section (Left side) */
  .text-section {
    flex: 1;
    max-width: 55%;
    margin-top: -4rem;
  }
  
  .text-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: Poppins;
    color: #fff;
  }
  
  /* Form Section (Right side) */
.form-section {
  width: 410px; 
  height: 490px;
  background-color: #fff;
  color: #333;
  padding: 2rem; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem; 
}

.form-group {
  margin-bottom: 0.5rem; 
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem; 
  font-weight: bold;
}

.form-section h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  font-family: Poppins;
}

.form-section span {
  color: #B22222;
}

.form-group input,
.form-group textarea,
.form-group select  {
  width: 100%;
  padding: 0.8rem;
  font-size: 0.9rem; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Lato;
}

.form-group textarea {
  height: 100px; 
}

button {
  background-color: #B22222;
  color: white;
  border: none;
  padding: 0.6rem 1.4rem; 
  font-size: 0.9rem; 
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
  font-family: Lato;
}

button:hover {
  background-color: #8B0000;
}

.contact-details {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .contact-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333333;
    font-family: Poppins;
  }
  
  .contact-details p {
    font-size: 1.2rem;
    margin: 10px 0;
    font-family: Lato;
    color: #4F4F4F;
  }
  
  .contact-details a {
    color: #4F4F4F;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: Lato;
  }
  
  .contact-details a:hover {
    color: #B22222;
  }
  
  #char-count {
    font-size: 0.8rem;
    color: #555;
    margin-top: 5px;
    font-family: Lato;
  }
  @media (min-width: 36.0625rem) and (max-width: 64rem) { 
    .contact-container {
      padding: 1.25rem; 
      height: auto;
      padding-bottom: 0.3125rem;
      padding-top: 3.125rem; 
    }
  
    .contact-content {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 3rem;
      gap: 1rem;
    }
  
    .text-section {
      width: 35%;
      margin-top: 0;
      text-align: left;
    }
  
    .text-section h1 {
      font-size: 2.3rem;
      text-align: left;
    }
  
    .text-section p {
      font-size: 1rem;
      text-align: justify;
    }
  
    .form-section {
      width: 50%;
      padding: 2rem;
      margin-top: 0;
      box-sizing: border-box;
    }
  
    .form-section h2 {
      font-size: 1.5rem;
      text-align: left;
    }
  
    .form-group input,
    .form-group textarea,
    .form-group select {
      font-size: 1rem;
      padding: 0.8rem;
    }
  
    button {
      font-size: 1rem;
      padding: 0.7rem 1.6rem;
    }
  
    .contact-details {
      padding: 1.875rem 0.9375rem; 
      font-size: 1.1rem;
    }
  
    .contact-details h2 {
      font-size: 1.8rem;
    }
  
    .contact-details p {
      font-size: 1.1rem;
    }
  
    .contact-details a {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 36rem) { 
    .contact-content {
      flex-direction: column;
      padding: 2rem 0;
      gap: 1rem;
    }
  
    .text-section {
      max-width: 100%;
      margin-top: 1.875rem; 
      text-align: center;
    }
  
    .text-section h1 {
      font-size: 2.2rem;
    }
  
    .text-section p {
      font-size: 1.1rem;
      display: flex;
      text-align: justify;
    }
  
    .form-section {
      max-width: 100%;
      margin-top: 0;
      padding: 1.5rem;
      width: 100%;
    }
  }
  
  .map-container {
    margin-top: 20px;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(50px) scale(0.95); 
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .pop-up {
    opacity: 1;
    transform: translateY(0) scale(1);
  }