/* FAQ Section Styles */
.faq-section {
    font-family: Arial, sans-serif;
  }

.faq-header {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .faq-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
  }
  
  .faq-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(10, 79, 110, 0.5); 
    z-index: 1; 
  }
  
  .faq-header h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .faq-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .faq-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: rgb(70, 69, 69);
    padding: 0.7rem;
    cursor: pointer;
  }
  
  .faq-question h3 {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .faq-question i {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    background-color: #f9f9f9;
    color: #333;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  
  .faq-card.open .faq-answer {
    max-height: 150px; 
    padding: 1rem;
  }
  
  .faq-card.open .faq-question i {
    transform: rotate(180deg); 
  }
  
@media (max-width: 576px) {
   
    .faq-header {
      height: 200px; 
    }
  
    .faq-header h1 {
      font-size: 2rem; 
      top: 60%; 
    }
  
    .faq-container {
      padding: 0 0.5rem; 
    }
  
    .faq-card {
      border-radius: 4px; 
    }
  
    .faq-question h3 {
      font-size: 1rem; 
    }
  
    .faq-question i {
      font-size: 1rem; 
    }
  
    .faq-answer {
      font-size: 0.9rem; 
      padding: 0 0.8rem; 
    }
  }
  