/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.home-container {
  display: flex;
    flex-direction: column;
    height: auto;
    background: url('../assets/web.webp') no-repeat center center / cover;
    position: relative;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 75px;
    width: 100%;
    overflow-x: hidden;
}
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 59, 59, 0.8);  /* Adjust the opacity and color for the overlay */
  z-index: 1;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: white;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative; /* Ensure content is above the overlay */
  z-index: 2;
}
.text-section {
  flex: 1;
  max-width: 55%;
  margin-top: -4rem;
}

.text-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: Poppins;
}

.text-section p {
  font-size: 1.2rem;
  font-family: Lato;
}


/* Form Section (Right side) */
.form-section {
flex: 1;
max-width: 25%; 
background-color: #fff;
color: #333;
padding: 2rem; 
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 0.8rem; 
}

.form-group {
margin-bottom: 1rem; 
}

.form-group label {
display: block;
margin-bottom: 0.3rem; 
font-weight: bold;
}

.form-section h2 {
font-size: 1.5rem;
color: #333;
margin: 0;
font-family: Poppins;
}

.form-section span {
color: #B22222;
}

.form-group input,
.form-group textarea,
.form-group select  {
width: 100%;
padding: 0.8rem;
font-size: 0.9rem; 
border: 1px solid #ddd;
border-radius: 8px;
box-sizing: border-box;
font-family: Lato;
}

.form-group textarea {
height: 100px; 
}

.submit {
background-color: #B22222;
color: white;
border: none;
padding: 0.6rem 1.4rem; 
font-size: 0.8rem; 
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease;
margin: 0 auto;
display: block;
font-family: Lato;
}

.submit:hover {
background-color: #8B0000;
}

@media (min-width: 36.0625rem) and (max-width: 64rem) {
  .home-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 2rem;
    gap: 2rem;
  }

  .text-section {
    flex: 1;
    max-width: 45%;
    margin: 0;
    text-align: left;
  }

  .text-section h1 {
    font-size: 2.5rem;
    text-align: left;
  }

  .text-section p {
    font-size: 1.2rem;
    text-align: justify;
  }

  .form-section {
    flex: 0.6;
    max-width: 55%;
    margin: 0;
    padding: 1.5rem;
    align-self: flex-start;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
    padding: 1rem;
  }

  .submit {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .services-section {
    padding: 3rem 1rem;
  }

  .services-section h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .service-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .service-card {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .description {
    padding: 3rem 1rem;
    text-align: left;
  }

  .description h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .description p,
  .description span {
    font-size: 1.1rem;
    text-align: justify;
  }
}

@media (max-width: 36rem) {
  .home-content {
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
  }

  .text-section {
    max-width: 100%;
    margin-top: 0;
    text-align: center;
  }

  .text-section h1 {
    font-size: 2.2rem;
  }

  .text-section p {
    font-size: 1.1rem;
    display: flex;
    text-align: justify;
  }

  .form-section {
    max-width: 100%;
    margin-top: 0;
    padding: 1.5rem;
    width: 100%;
  }

  .services-section {
    padding: 2rem;
  }

  .services-section h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .service-cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .service-card {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .description {
    padding: 2rem 0;
  }

  .description h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .description p,
  .description span {
    font-size: 1.1rem;
    text-align: justify;
  }
}

  .hidden {
    opacity: 0;
    transform: translateY(50px) scale(0.95); 
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .pop-up {
    opacity: 1;
    transform: translateY(0) scale(1);
  }