.heading {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    padding-top: 30px;
  }
  
  .card-section {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
    background-color: #f3f0f0;
  }
  
  .card {
    background-color: #fff;

    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0;
    height: 450px;
    transition: transform 0.3s;
    position: relative;
  }
  
  .card:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #0a4f6e; 
    color: #fff;
}

.card:hover h3,
.card:hover p,
.card:hover .price {
    color: #fff;
}

.card button {
    background-color: #0a4f6e;
    color: #fff;
}

.card:hover button {
    background-color: #fff;
    color: #0a4f6e;
}

  
.image-carousel {
  position: relative;
  height: 240px; /* Fixed height for images */
  width: 300px;  /* Fixed width for images */
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .carousel-image {
    width: 300px;
    height: 240px;
    object-fit: fill;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carousel-image.active {
    opacity: 1;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .carousel-dots .dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .carousel-dots .dot.active {
    background-color: #0a4f6e;
  }
  
  .card img {
    width: 300px;
    height: 240px;
    object-fit: fill;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 16px;
    margin: 5px 0 5px;
    padding: 8px;
    height: 60px;
    line-height: 1.4;
  }
  
  .card p {
    font-size: 15px;
    color: #555;
    margin: 10px 0;
  }
  
  .card .price {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card button {
    background-color: #0a4f6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #e5e9ec;
  }
  
  @media (max-width: 576px) {
    .card-section {
      flex-direction: column;
      gap: 20px; 
      padding: 10px; 
    }
  
    .card {
      width: 100%; 
      height: auto;  
      padding: 15px;  
    }
  
    .image-carousel {
      height: 150px;
    }
  
    .card img {
      width: 80px;  
      height: 80px;
    }
  
    .heading {
      font-size: 20px; 
      margin-top: 20px;
    }
  }